In [15]:
# %string
name = "K"
age = 20
s="My name is %s and I am %d" %(name,age)
print(s)

My name is K and I am 20

In [16]:
# str.format()
name = "K"
age = 20
s="My name is {} and I am {}".format(name,age)
s1="My name is {0} and I am {1}".format(name,age)
s2="My name is {1} and I am {0}".format(name,age)
print(s,s1,s2)

My name is K and I am 20 My name is K and I am 20 My name is 20 and I am K

In [48]:
# f-string 권장
name, age = "K", 20
s=f"My name is {name} and I am {age}"
print(s)
s1=f"My name is {name.lower()} and I am {age}"+
print(s1)

My name is K and I am 20
My name is k and I am 20, {ab}

In [ ]:
"""
메모리: is 사용 (s.isupper)
값: == 사용 (a==10)
"""

In [23]:
a="Hello"
b=a
c='Hello'
d=b[:]
print(id(a),id(b),id(c),id(d)) # 전부 ID 동일

2181260164144 2181260164144 2181260164144 2181260164144

In [32]:
a=300
b=300
c=-10
d=-10
e=d
print(id(a),id(b)) # id가 다름 
print(a==b)
print(a is b)
print(id(c),id(d)) #-5~256만 기억
print(c==d)
print(c is d)
print(d is e) # e=d라 id 동일

2181272378096 2181272378832
True
False
2181272377712 2181272376880
True
False
True

In [31]:
a="Hello"
a[1]="E" #에러
print(a) #글자는 불변

TypeError: 'str' object does not support item assignment

In [33]:
a=300
print(id(a)) # id 버려
a=300
print(id(a)) #다른 id

2181272377392
2181272376304

In [41]:
a="Hello#" 
b="Hello#" #특수문자는 다른 id 사용
c=a
print(a is b,a==b)
print(a is c)
a="Hello_"
b="Hello_"
print(a is b) # '_'는 예외

False True
True
True

In [38]:
a=1.0
b=1
print(a==b, a is b) #같은 값, 다른 id (다른 타입)

True False

In [40]:
a,b=999,999 #두개 한번에 할때 
print(a is b) #같은 id로 설정

True

# Lecture 4

In [50]:
v1=[1,2,3,4]
v2=[1,"2",3,"4"] #어떤것이든 넣을 수 있음 (리스트 포함)
print(v1,v2)
print(type(v1),type(v2))

[1, 2, 3, 4] [1, '2', 3, '4']
<class 'list'> <class 'list'>

In [4]:
s=["A",'B','C','D','E']
print(s[1],s[-4],s[2:],s[::2])

B B ['C', 'D', 'E'] ['A', 'C', 'E']

In [5]:
v1=[1,"2"]
v2=["3",4]
v3=v1+v2
print(v3)
print(v1*2)

[1, '2', '3', 4]
[1, '2', 1, '2']

In [8]:
v=["안녕",[1,2,3]]
print(v[0][1])
print(v[1][2])

녕
3

In [17]:
v=['a','b','c','d']
print(id(v))
v[1]='e'
print(v) #문자는 불변, 리스트는 변경 가능
print(v, id(v)) # id 변경 없음
v[2]=['f','g']
print(v, id(v)) # id 변경 없음
v[1:-1]=['h','i','j','k']
print(v, id(v)) # id 변경 없음
v[2:-2]="lmno" # string은 쪼개져서 들어감 (숫자는 안됨)
print(v,id(v)) # id 변경 없음

2208991422592
['a', 'e', 'c', 'd']
['a', 'e', 'c', 'd'] 2208991422592
['a', 'e', ['f', 'g'], 'd'] 2208991422592
['a', 'h', 'i', 'j', 'k', 'd'] 2208991422592
['a', 'h', 'l', 'm', 'n', 'o', 'k', 'd'] 2208991422592

In [19]:
a=[1,2,'3']
b=[1,2,'3']
c=a
d=a.copy() # 값만 복사 (id 복사 안됨)
print(id(a),id(b),id(c),id(d))
print(a is b, a is c, a is d)

2208990507776 2208991419840 2208990507776 2208991420928
False True False

In [23]:
v=[1,2,'3']
v.clear() #리스트 비우기
print(v)
print(v.clear()) #none

[]
None

In [39]:
v=[1,2,3]
v.append(4) #끝에만 추 
print(v)
print(v.append(5)) #none

v.extend([5]) # [] 포함 필요
print(v)
v1=[6,7,8]
v.extend(v1) #리스트는 이미 [] 있음
print(v)

v.insert(-1,9)
print(v)
v.insert(1,[10,11])
v.insert(len(v),11) #맨 끝에 추가
print(v)

v.pop(0) #0번째 제거
print(v)
v1=v.pop(2) #제거한 것 / v에서는 제거됨
print(v1,v)

v.remove(11) #맨 앞의 11 제거
print(v)
v[0].remove(11) #리스트 안의 11 제
print(v)

v.reverse() #뒤집기
print(v, v.reverse()) # 뒤집기 none

[1, 2, 3, 4]
None
[1, 2, 3, 4, 5, 5]
[1, 2, 3, 4, 5, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 5, 6, 7, 9, 8]
[1, [10, 11], 2, 3, 4, 5, 5, 6, 7, 9, 8, 11]
[[10, 11], 2, 3, 4, 5, 5, 6, 7, 9, 8, 11]
3 [[10, 11], 2, 4, 5, 5, 6, 7, 9, 8, 11]
[[10, 11], 2, 4, 5, 5, 6, 7, 9, 8]
[[10], 2, 4, 5, 5, 6, 7, 9, 8]
[[10], 2, 4, 5, 5, 6, 7, 9, 8] None

In [41]:
vint=[2,3,1]
vstr=['c','a','b'] # 숫자, 알파벳 정렬 (딴게 끼어있음 안됨)
vint.sort()
vstr.sort()
print(vint,vstr)

[1, 2, 3] ['a', 'b', 'c']

In [ ]:
v1=[1,4,6]
v2=v1
v2.append(5)
print(v1 is v2)